# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
*.pyc

# Virtual environment
venv/
env/
ENV/

# Django
*.log
db.sqlite3
media/
staticfiles/

# VSCode / IDE
.vscode/
.idea/

# System
.DS_Store
Thumbs.db

# Environment variables / secrets
*.env
.env.*
